.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2{
  color: white;
}
.App-header {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  gap: 20px;
  padding: 20px;
}

.sectionphoto {
  border-radius: 15px;
  overflow: hidden;
  width: 23vw;
  height: 75vh;
  margin-top: 40px; /* Margem padrão para colunas pares */
}

.sectionphoto:hover{
  cursor: pointer;
  border: 2px solid white;

transition: all 0.6s ease-in-out;
  box-shadow: rgba(255, 255, 255, 0.393) 0px 48px 100px 0px;
}

.sectionphoto:nth-child(odd) {
  margin-top: 0; /* Margem extra para colunas ímpares */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

video {
  width: 100%;  
  height:auto;
  display: flex;
  align-items: center;
  background-color: #282c34;
}

#geralbtn{
  width: 100%;

  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#geralbtn>#btn+ {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
}

/* Remova a aparência padrão do input tipo file */
#geralbtn>#btn+ input {
  display: none;
}

input{
  margin: 20px;
  border: none;
  padding: 5px;
  background-color: transparent;
  border-bottom: 2px solid white;
  color: white;
  margin-left: 10%;
  width: 15%;
  text-align: center;
 
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.file-input-container {

  text-align: left;
}

#space{
  width: 70%; /* Ou qualquer largura desejada para desktop */
  height: 90%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionphoto2{  
  box-shadow: rgba(0, 0, 0, 0.683) 0px 13px 27px -5px, rgb(0, 0, 0) 0px 8px 16px -8px;
  transition: width 0.6s ease, height 0.6s ease; /* Adiciona transição suave para largura e altura */
  border-radius: 5px;
}
.sectionphoto2>img{
  border-radius: 5px;
}

/* Estilos para o tamanho mobile */
.sectionphoto2.mobile {
  width: 30%; /* Ou qualquer largura desejada para mobile */
  height: 90%; /* Ou qualquer altura desejada para mobile */
}

/* Estilos para o tamanho desktop */
.sectionphoto2.desktop {
  width: 100%; /* Ou qualquer largura desejada para desktop */
  height: 100%; /* Ou qualquer altura desejada para desktop */
}

/* Estilos para o tamanho tablet */
.sectionphoto2.tablet {
  width: 80%; /* Ou qualquer largura desejada para tablet */
  height: 80%; /* Ou qualquer altura desejada para tablet */
}


.App-header>.enlarged-photo{
  padding: 10px;
  height: 80vh;
  width: 95vw;
  background-color: #0000008a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
}

.btnsbig{
  height: 90%;
  width: 30%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btnsbig>button{
  margin-left: 90%;
  border: none;
  padding: 10px;
  background-color: transparent;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}
#btngeral{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  border-radius: 20px;
  width: 80%;
  background-color: #000000;
}

.btndisplay{
  margin: 20px;
  width: 20%;
  height: 10%;
  border-radius: 10px;
  cursor: pointer;
  color: #36395A;
}

.btn3{
  height: 10%;
  width: 50%;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .App-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sectionphoto {
    width: 83vw;
    margin-top: 0px; /* Margem padrão para colunas pares */
  }
  
  input{
    width: 40%;
  }
  
  .App-header>.enlarged-photo{
    flex-direction: column;
  }

  #btngeral{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vw;
    border-radius: 20px;
    width: 80vw;
    background-color: #000000;
  }

  .sectionphoto2.mobile {
    width: 80%; /* Ou qualquer largura desejada para tablet */
    height: 90%; /* Ou qualquer altura desejada para tablet */
  }
  
  /* Estilos para o tamanho desktop */
  .sectionphoto2.desktop {
    width: 100%; /* Ou qualquer largura desejada para tablet */
    height: 60%; /* Ou qualquer altura desejada para tablet */
  }
  
  /* Estilos para o tamanho tablet */
  .sectionphoto2.tablet {
    width: 100%; /* Ou qualquer largura desejada para tablet */
    height: 50%; /* Ou qualquer altura desejada para tablet */
  }
  #x{
    display: none;
  }

  .App-header>.enlarged-photo{
    padding: 10px;
    height: 100vh;
    width: 95vw;
    background-color: #0000008a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
  }
  
}